[
  {
    "id": "add-torrent",
    "execute-command": "/root/.config/webhook/add-torrent.sh",
    "command-working-directory": "/root/.config/webhook",
    "include-command-output-in-response": true,
    "pass-arguments-to-command": [
      {
        "source": "payload",
        "name": "uri"
      },
      {
        "source": "payload",
        "name": "type"
      }
    ],
    "trigger-rule": {
      "match": {
        "type": "value",
        "value": "{{ getenv "WEBHOOK_TOKEN" | js }}",
        "parameter": {
          "source": "payload",
          "name": "token"
        }
      }
    }
  },
  {
    "id": "yt-dl",
    "execute-command": "/root/.config/webhook/yt-dl.sh",
    "command-working-directory": "/root/.config/webhook",
    "include-command-output-in-response": false,
    "pass-arguments-to-command": [
      {
        "source": "payload",
        "name": "uri"
      },
      {
        "source": "payload",
        "name": "type"
      }
    ],
    "trigger-rule": {
      "match": {
        "type": "value",
        "value": "{{ getenv "WEBHOOK_TOKEN" | js }}",
        "parameter": {
          "source": "payload",
          "name": "token"
        }
      }
    }
  },
  {
    "id": "pdf-details",
    "execute-command": "/root/.config/webhook/transmission-rpc.sh",
    "command-working-directory": "/root/.config/webhook",
    "include-command-output-in-response": true,
    "pass-arguments-to-command": [
      {
        "source": "payload",
        "name": "url"
      }
    ],
    "trigger-rule": {
      "match": {
        "type": "value",
        "value": "12345",
        "parameter": {
          "source": "payload",
          "name": "token"
        }
      }
    }
  }
]
