---
extends: default

rules:
  line-length:
    max: 160
    level: warning

ignore: |
  .github/stale.yml
  .travis.yml
  .drone.yml
  docker-compose-sample.yml
  roles/beets/files/config.yaml
  roles/beets/files/config-old.yaml
  roles/transmission/files/transmission-rss/config.yml
